.container
	form(role='form')
		.form-group
			label(for='name') Name
			input.form-control(ng-model='formData.name', type='text', id="name", placeholder="Enter name")
		.form-group
			label(for='decription') Description
			textarea.form-control(ng-model='formData.description', id="decription", rows="3", placeholder="Enter description")
		//.form-group
		//	label Tags
		//	input.form-control(type="text",id="tagSelector",completetext="",items="formData.tags")
		//	div
		//		span.badge(ng-repeat="tag in formData.tags") {{tag}}
		.form-group
			label(for="type") Type
			select.form-control(ng-model='formData.type', id="type")
				option(value='radio') Radio
				option(value='checkbox') Checkbox
		.checkbox
			label Allow Add Option On Vote
				input(type="checkbox", ng-model='formData.addOptionOnVote')
		.checkbox
			label Is Active
				input(type="checkbox", ng-model='formData.isActive')
		//.form-group
		//	label Expired At
		//	input.form-control(type="text",placeholder="MM/dd/yyyy", ng-model='formData.expireAt', formatinput="", format="MM/dd/yyyy")
		.form-group
			label Expired At
			input.form-control(type="text",placeholder="MM/dd/yyyy", ng-model='formData.expireAt', formatinput="", format="MM/dd/yyyy")
		.form-group
			label Options
			div(ng-repeat="option in formData.formOptions")
				.form-group.row
					.col-sm-10.text-left
						textarea.form-control(ng-model='option.text', placeholder="Enter your text here", rows="3")
					.col-sm-2.text-left(ng-if="$index>0 || formData.formOptions.length > 1")
						a.close(href="javascript:void(0)", ng-click="deleteOption($index)", data-dismiss="alert") &times;

	.row
		.col-sm-6.text-left
			.btn-toolbar
				.btn-group
					button(class="btn btn-default", ng-click="addOption()", id="btnAddOption") Click to add option
				.btn-group
					button(ng-if="isNew", class="btn btn-default", ng-click='createForm(formData)') Create
					button(ng-if="!isNew", class="btn btn-default", ng-click='updateForm(formData)') Save
					button(class="btn btn-default", ng-click='goBack()') Back
					button(ng-if="!isNew", class="btn btn-default", ng-click='duplicateForm(formData)') Duplicate