.container
	form(role='form')
		.form-group
			label(for='name') Name
			input(ng-model='formData.name', type='text', class='form-control', id="name", placeholder="Enter name")
	
		.form-group
			label(for='decription') Description
			textarea(ng-model='formData.description', class="form-control", id="decription", rows="3")
		.form-group
			label(for="type") Type
			select(ng-model='formData.type', class="form-control", id="type")
				option(value='') Please select...
				option(value='radio') Radio
				option(value='checkbox') Checkbox
		.checkbox
			label Is Active
				input(type="checkbox", ng-model='formData.isActive')
		button(ng-if="isNew", class="btn btn-default", ng-click='createForm(formData)') Create
		button(ng-if="!isNew", class="btn btn-default", ng-click='updateForm(formData)') Save