.container
	.jumbotron.text-center
		h2 Forms you can vote
	.row
		.col-sm-8.col-sm-offset-2.text-center
			form
				p
					input(type='text',placeholder="Type to filter forms",ng-model="searchQuery").form-control.input-lg.text-center
	.row
		.col-sm-12
			ul.list-group
				li.list-group-item(ng-repeat='form in forms | filter:searchQuery')
					span.badge
						a.link-white(href='#/edit/{{form._id}}') edit
					span.badge
						a.link-white(href='#/view/{{form._id}}') vote
					span.badge(ng-click=('deleteForm(form._id)'))
						|delete
					|{{form.name}}