.container
	.page-header.text-center
		h2 Forms you can vote
	.row
		.col-sm-8.col-sm-offset-2.text-center
			.input-group
				span.input-group-btn
					button.btn.btn-default(type='button',ng-class='{true: "active"}[showMine]',ng-click='toggleMine()') Show mine
				input(type='text',placeholder="Type to filter forms",ng-model="searchQuery").form-control.text-center
	.row.row-between-20
	.row
		.col-sm-12
			ul.list-group
				li.list-group-item.form-list-item(ng-repeat='form in forms | filter:searchQuery',ng-click="goVote(form._id)")
					span.badge(ng-if="form.isEditable",ng-click=('deleteForm(form._id)'))
						a.link-white(href="#") delete
					span.badge(ng-if="form.isEditable")
						a.link-white(href='#/edit/{{form._id}}') edit
					span.badge
						a.link-white(href='#/formstat/{{form._id}}') stats
					div
						|{{form.name}}
						br
						i {{form.createdBy.name}}
						| &nbsp;create at&nbsp;
						i {{form.createdAt | date: 'H:mm MM/dd/yyyy'}}