.container
	.page-header.text-center
		h2 Forms you can vote
	.row
		.col-sm-8.col-sm-offset-2.text-center
			.input-group
				span.input-group-btn
					button.btn(type='button',ng-class='{true: "btn-primary", false: "btn-default"}[showMine]',ng-click='toggleMine()') Show mine
				input(type='text',placeholder="Type to filter forms",ng-model="searchQuery").form-control.text-center
	.row.row-between-20
	.row
		.col-sm-12
			ul.list-group
				li.list-group-item(ng-repeat='form in forms | filter:searchQuery')
					span.badge
						a.link-white(href='#/edit/{{form._id}}') edit
					span.badge
						a.link-white(href='#/view/{{form._id}}') vote
					span.badge(ng-click=('deleteForm(form._id)'))
						|delete
					div
						|{{form.name}}
						br
						i {{form.createdBy.name}}
						| &nbsp;create at&nbsp;
						i {{form.createdAt | date: 'H:mm MM/dd/yyyy'}}