<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="voteForm">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html 					{ overflow-y:scroll; }
        body 					{ padding-top:50px; }
        #form-list 				{ margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="/javascripts/core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
<div class="container">

    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h1>Count of forms = <span class="label label-info">{{ forms.length }}</span></h1>
    </div>

    <!-- TODO LIST -->
    <div id="form-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <!-- LOOP OVER THE Forms IN $scope.forms -->
            <div class="checkbox" ng-repeat="form in forms">
                <label>
                    <input type="checkbox" ng-click="deleteForm(form._id)"> {{ form.text }}
                </label>
            </div>

        </div>
    </div>

    <!-- FORM TO CREATE TODOS -->
    <div id="my-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="Type a new form's name" ng-model="formData.text">
                </div>

                <!-- createForm() WILL CREATE NEW Form -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createForm()">Add</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>

