extends layout

block bodyContent
	<!-- sample text or maybe menu -->
	div(ng-view)
	script(src='javascripts/lib/angular.js')
	script(src='javascripts/lib/angular-route.js')
	script(src='javascripts/core.js')
	script(src='javascripts/controllers.js')
