extends layout

block titleContent
	|Tula Votes!

block bodyContent
	.notify-area
		.container
			notify-holder
	.container
		.row
			.col-sm-12.text-left
				span.badge
					a.link-white(href='#/create', id="createFormLink") create form
				span.badge
					a.link-white(href='/logout', id="logoutLink")= userName
						|  | logout
	div(style='margin: 5px;', ng-view)
	script(src='javascripts/lib/angular.js')
	script(src='javascripts/lib/angular-route.js')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
	script(src='http://code.highcharts.com/highcharts.js')
	script(src='javascripts/core.js')
	script(src='javascripts/controllers.js')
	script(src='javascripts/constants.js')
	script(src='javascripts/notify.js')
	script(src='javascripts/chart.js')
	script(src='javascripts/formatinput.js')
	script(src='javascripts/completetext.js')
