doctype html
html(lang='en',ng-app='tulaVotesApp')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title Tula Votes!
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	body
		block bodyContent