extends layout

block titleContent
	|Enter to vote please
block bodyContent
	.container
		.jumbotron.text-center
			h2 Login
		.row
			form(action='/login', method='post')
				.col-sm-7.col-sm-offset-2.text-center
					p
						input(type='text',placeholder="Type your email to login",name="email",autofocus).form-control.input-lg.text-center
						input(type='hidden',id="url",name="url")
				.col-sm-1
					button(type='submit').btn.btn-primary.btn-lg OK
	script.
		document.getElementById('url').value = document.URL