body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.notify-area {
	height: 60px;
	padding-top: 5px;
}

.header {
	/*border-radius: 6px;*/
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 10px;
	padding-top: 10px;
	/*background-color: #eee;*/
	margin-bottom: 20px;
}

.row-between-20 {
	height: 20px;
}

.list-group-item .form-name {
	cursor: pointer;
}

.form-active:hover{
	background-color: #d0e9c6;
}

.success{
	color: #3c763d;
}

.form-inactive:hover{
	background-color: #ebcccc;
}

.error{
	color: #a94442;
}

a.link-white,
a.link-white:hover,
a.link-white:focus,
a.link-white:active {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.left-margin-20{
	margin-left: 20px;
}

.right-margin-4{
	margin-right: 4px;
}

.remove-item{
	position: absolute;
	right: 2px;
	top: -8px;
}

.tag{
	margin-left: 2px;
	margin-right: 9px;
	position: relative;
}

.tag .close{
	position: absolute;
	top: -3px;
}

.prompt{
	list-style: none outside none;
}

.prompt .prompt-item:hover,
.prompt .prompt-item:focus,
.prompt .prompt-item:active{
	background-color: #eee;
}