body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.notify-area{
    height: 60px;
    padding-top: 5px;
}

.row-between-20{
    height: 20px;
}

a.link-white,
a.link-white:hover,
a.link-white:focus,
a.link-white:active{
    color: #fff;
    text-decoration: none;
}